<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <base href="/">
    <link rel="stylesheet" href="{{ url_for('static', filename ='output.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="font-textFont">
    <nav class="flex bg-white justify-between px-20 py-7 shadow-sm shadow-gray-400 items-center">
        <form action="/search" class="w-[25%]" method="get">
        <input type="text" placeholder="Search" class="rounded-3xl text-sm w-full  font-semibold border border-gray-400 text-gray-500 px-4 py-2" name="search">
        </form>
        <h1 class="text-2xl text-center font-header font-bold">MyBlog</h1>
        <a href="/upload"><button class="bg-transparent border border-black rounded-3xl px-5 py-2 font-semibold text-sm">Upload Blog</button></a>
        
        <div class="flex flex-col justify-center items-center gap-0">
            {% if current_user.is_authenticated %}
            <a href="/profile/{{current_user.id}}"><h2 class="text-2xl hover:text-[#7747ff]" ><i class="fa-solid fa-user"></i></h2></a>
            <p class="text-sm text-gray-400 ">{{current_user.firstname}}</p>
            {% else %}
            <a href="/login"><h2 class="text-2xl hover:text-[#7747ff]" ><i class="fa-solid fa-user"></i></h2></a>
            <p class="text-sm text-gray-400 ">login</p>
            {% endif %}
        </div>
        
               
        <h2 class=" hidden text-2xl hover:text-[#7747ff]" id="menuBtn"><i class="fa-solid fa-bars"></i></h2>

        
        <div id="mobile-menu" class=" hidden mobileMenu z-30 w-[25vw] h-screen bg-gray-100 fixed top-0 right-0 shadow-sm transition-transform duration-150 ease-linear shadow-gray-500 translate-x-[25vw] ">
            <h1 class="text-center text-xl font-bold font-header py-4">MyBlog</h1>
            <h2 id="crossBtn" class="absolute top-1 right-1 p-2 text-2xl"><i class="fa-solid fa-xmark"></i></h2>
            <div class="menus h-3/5 w-full flex flex-col items-start justify-center gap-12">
                <p class="py-2 px-4 bg-gray-100 rounded-sm w-full">Home</p>
                <p class="py-2 px-4 bg-gray-100 rounded-sm w-full">Category</p>
                <p class="py-2 px-4 bg-gray-100 rounded-sm w-full">Trending</p>
                <p class="py-2 px-4 bg-gray-100 rounded-sm w-full">Popular</p>
                <p class="py-2 px-4 bg-gray-100 rounded-sm w-full">Travel</p>
            </div>
            <div class="flex justify-center py-4">
                <a href="/login" class="w-4/5"><button class="py-3  font-semibold w-full my-4 rounded-lg font-header text-lg bg-[#7747ff] text-white">Login</button></a>
            </div>
        </div>
    </nav>
    
{% block body %}
{% endblock body %}


    <footer class="h-screen w-full">
        <div class="newsletter h-1/2 flex flex-col px-20 justify-end">
            <h2 class="font-bold text-3xl font-header">Subscribe to Newsletter</h2>
            <div class="email flex gap-5 py-3">
                <input type="text" class="w-[70%] border border-gray-300 p-3 rounded-md" placeholder="Enter your Email">
                <button
                    class="w-[25%] bg-[#7747ff] text-sm text-center text-white font-bold rounded-3xl">SUBSCRIBE</button>
            </div>
        </div>
        <div class="copyright h-1/2">
            <div class="social-media flex justify-center gap-3 py-8">
                <p class="p-2 px-3 bg-gray-200 rounded-xl hover:bg-[#7747ff] hover:text-white"><i
                        class="fa-brands fa-instagram"></i></p>
                <p class="p-2 px-3 bg-gray-200 rounded-xl hover:bg-[#7747ff] hover:text-white"><i
                        class="fa-brands fa-facebook"></i></p>
                <p class="p-2 px-3 bg-gray-200 rounded-xl hover:bg-[#7747ff] hover:text-white"><i
                        class="fa-brands fa-twitter"></i></p>
                <p class="p-2 px-3 bg-gray-200 rounded-xl hover:bg-[#7747ff] hover:text-white"><i
                        class="fa-brands fa-linkedin"></i></p>


            </div>
            <div class="copyrightText py-14 flex flex-col items-center gap-8">
                <p class="text-gray-500">Copyright ©2024 All rights reserved | The Project is Made By Ravi Singh</p>
                <p class="text-gray-500">Terms & Conditions/ Privacy Policy</p>
            </div>
        </div>
    </footer>
</body>
<script>
    
</script>
<script src="../static/index.js"></script>

</html>